@import url('https://fonts.googleapis.com/css?family=Rokkitt');

body {
		font-family: 'Rokkitt', serif;	
}


.ninjaPic{
	width: 900px; 
	border-radius: 50px;
	border-color: black;
	border-width: 5px;
	border-style: dotted;
}



p{
	font-size: 20px;
}


.menuBar{
font-family: 'Rokkitt', serif;
list-style-type: none; 
background-color: #A9BFFD;	
border: 4px solid #111111;
border-radius: 10px;
font-weight: bold;
}


.menuBar li{
	display: inline;
	border-right: 2px solid #111111;
padding-right: 16px;
padding-left: 16px;
}


.menuBar li a{
text-decoration: none;
color: #111111;
font-size: 30px;
}


.padding{
	padding: 25px;
}


.header{
	background-color: lightblue;
	height: 200px;
	font-size: 30pt;
	text-align: center;
}

.descript{
background-color: gray;
color: white;
font-size: 24pt;
text-align: center;
height: 40px;
	margin: 0px;
	padding: 8px;
}